<fieldset>
  <legend>Offerings</legend>
  <p>
    <label for="Offering">Offering</label>
    <%= @offering.offering %>
  </p>
</fieldset>

<fieldset>
	<%= link_to 'Edit', edit_offering_path(@offering) %> |
	<%= link_to 'Back', offerings_path %>
</fieldset>