<div class="container">
  <div class="row">
  	<div class="span6">
			<section id="get-started" class="pad-top black-box">
				<div class="title">
					<h2>Welcome</h2>
				</div>
				<div class="content">
					Findagrapher is a free service that helps you find photographers of your choice. Tell us your photo shoot needs and we’ll help you find a list of photographers you might be interested in.
					<br/><br/>
          			<%= link_to "Find a Photographer", new_shoot_path, :class => "btn btn-success find-photographer" %>
          			<br/>
					<div class="note">You don’t need to register to find a photographer.</div>
					<br/>
					<h3>New Photographer Registration</h3>
					By registering as a photographer, you can link your existing portfolios, setup alerts & get notified of clients of your choice. All for free!
					<br/><br/>
					<a href="#photographer-registration" class="btn" data-toggle="modal">Register</a>
				</div>
			</section>
		</div>
	</div>
</div>