<div class="container">
  <div class="row">
  	<div class="span6">
			<section id="get-started" class="pad-top black-box">
				<div class="title">
					<h2>Welcome</h2>
				</div>
				<div class="content">
					Findagrapher is a free service that helps you find photographers of your choice. Tell us your photo shoot needs and we’ll help you find a list of photographers you might be interested in. If you are not too specific, feel free to browse our photographers catalog.
					<br/><br/>
          <%= link_to "Find a Photographer", new_shoot_path, :class => "btn btn-success" %>
					<br/><br/>
					You don’t need to register to find a photographer. If you are a photographer yourself, <a href="#photographer-registration" data-toggle="modal">click here</a> to register for free.
				</div>
			</section>
		</div>
	</div>
</div>