@font-face {
  font-family: 'DistrictThinRegular';
  src: url('/fonts/distth___-webfont.eot');
  src: url('/fonts/distth___-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/distth___-webfont.woff') format('woff'), url('/fonts/distth___-webfont.ttf') format('truetype'), url('/fonts/distth___-webfont.svg#DistrictThinRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  background-color: #252525;
  color: #464646;
}
.pad-top {
  padding-top: 40px;
}
.form .row {
  padding-bottom: 20px;
}
.form h3 {
  font-family: 'DistrictThinRegular';
  border-bottom: 1px solid;
}
.form .f-name {
  text-align: right;
  color: #c31503;
  line-height: 30px;
}
.form .f-content {
  line-height: 30px;
}
.form .f-content .option {
  float: left;
  width: 200px;
}
.form .f-content .option input {
  margin-right: 5px;
}
.form .note h4 {
  font-weight: normal;
  color: #c31503;
}
.modal .modal-header {
  font-family: 'DistrictThinRegular';
  background: url("/assets/bg/trans-pink-60.png") repeat scroll 0 0 transparent;
  padding: 10px 15px;
  color: #fff;
}
#page-bg {
  background: url("/assets/flash-bg/hand-hold.jpg") no-repeat scroll center top transparent;
  background-size: 100% auto;
  height: 100%;
  float: left;
  width: 100%;
}
header {
  background: url("/assets/bg/trans-black-70.png") repeat scroll 0 0 transparent;
}
header .logo img {
  margin: 20px;
}
header .login-section {
  text-align: right;
  padding-top: 40px;
}
header .login-section a {
  margin-right: 20px;
}
header #nav-links {
  list-style: none;
  margin-right: 20px;
  float: right;
}
header #nav-links li {
  list-style: none;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid;
  color: #ACACAC;
}
header #nav-links li:first-child {
  border: none;
}
header #facebook-elements {
  margin: 36px 0 0 20px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 940px;
  margin-left: -470px;
  margin-bottom: 20px;
  left: 50%;
  background: url("/assets/bg/trans-black-70.png") repeat scroll 0 0 transparent;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  color: #ACACAC;
}
.white-box .title,
.black-box .title {
  font-family: 'DistrictThinRegular';
  background: url("/assets/bg/trans-pink-60.png") repeat scroll 0 0 transparent;
  padding: 10px 20px;
  color: #fff;
}
.white-box .content {
  background: url("/assets/bg/trans-white-95.png") repeat scroll 0 0 transparent;
  padding: 20px 0;
}
.black-box .content {
  background: url("/assets/bg/trans-black-70.png") repeat scroll 0 0 transparent;
  padding: 20px;
  color: #acacac;
}
#get-started .content {
  background: url("/assets/bg/trans-black-70.png") repeat scroll 0 0 transparent;
  padding: 20px;
  color: #acacac;
}
#photographer-registration .login-section {
  padding: 10px 0;
  text-align: center;
}
#photographer-registration .login-section a {
  margin-bottom: 5px;
}
#photographer-registration .login-section .note {
  text-align: center;
  font-size: 11px;
}
#portfolio-pictures img {
  width: 275px;
  padding: 10px;
}
#profile .row {
  padding-bottom: 10px;
}
#profile .profile-pic {
  width: 200px;
  float: left;
  margin-left: 20px;
}
#profile .profile-pic img {
  width: 100%;
}
#profile .profile-info {
  float: left;
  margin-left: 20px;
  width: 680px;
}
